@import url(https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;800;900&display=swap);
:root {
  --accent-color: #ffffff;
  --score-bg: #f9f9f9;
  --score-color: #2A45C2;
  --score-number-color: #565468;
  --btn-color: #3B4262;
  --player-bg: #E9E9E9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(74deg, rgb(27, 43, 75), rgb(22, 28, 62));
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  width: 100px;
  max-width: 850px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .main-window {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 24px;
  border: 3px solid #D8D8D8;
  border-radius: 15px;
  margin: 0;
}
.container .main-window__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 335px;
}
.container .main-window__list .main-window__item {
  font-size: 40px;
  font-weight: 600;
  line-height: 32px;
  color: var(--accent-color);
}
.container .main-window .player-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 48px;
  background-color: var(--score-bg);
  border: 0;
  border-radius: 8px;
}
.container .main-window .player-score__text {
  margin: 0;
  margin-bottom: 2px;
  color: var(--score-color);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
.container .main-window .player-score__number {
  margin: 0;
  color: var(--score-number-color);
  font-size: 64px;
  line-height: 64px;
  font-weight: bold;
}